.p-r {
  position: relative;
}
.p-a {
  position: absolute;
}
.p-f {
  position: fixed;
}
.d-i {
  display: inline;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.d-n {
  display: none;
}
.d-it {
  display: inline-table;
}
.d-t {
  display: table;
}
.d-tr {
  display: table-row;
}
.d-tc {
  display: table-cell;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.c-f:before,
.c-f:after {
  content: "";
  display: table;
}
.c-f:after {
  clear: both;
}
.c-f {
  zoom: 1;
}
.w-all {
  width: 100%;
}
.h-all {
  height: 100%;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.m-t0 {
  margin-top: 0;
}
.m-r0 {
  margin-right: 0;
}
.m-b0 {
  margin-bottom: 0;
}
.m-l0 {
  margin-left: 0;
}
.p-t0 {
  padding-top: 0;
}
.p-r0 {
  padding-right: 0;
}
.p-b0 {
  padding-bottom: 0;
}
.p-l0 {
  padding-left: 0;
}
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-gray {
  color: #999;
}
.bg-white {
  background: white;
}
.bg-black {
  background: black;
}
.bg-gray {
  color: #999;
}
.t-l {
  text-align: left;
}
.t-r {
  text-align: right;
}
.t-c {
  text-align: center;
}
.v-t {
  vertical-align: top;
}
.v-b {
  vertical-align: bottom;
}
.v-m {
  vertical-align: middle;
}
.o-h {
  overflow: hidden;
}
.o-s {
  overflow: scroll;
}
.o-a {
  overflow: auto;
}
/* 提供 serif 版本的字体设置: iOS 下中文自动 fallback 到 sans-serif */
.serif {
  font-family: Palatino, Optima, Georgia, serif;
}
